In [73]:
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark import pandas as ps
from pyspark.sql.functions import *

In [4]:
df = pd.read_pickle("./homedata.p")

spark = SparkSession.builder.appName("RealEstateData").getOrCreate()

24/03/29 14:25:49 WARN Utils: Your hostname, JaredDesktop resolves to a loopback address: 127.0.1.1; using 172.21.107.249 instead (on interface eth0)
24/03/29 14:25:49 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/29 14:25:59 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [9]:
print (df.columns)

Index(['_id', 'property_id', 'list_date', 'description', 'location', 'photos',
       'property_history', 'last_sold_price', 'last_sold_date', 'thumbnail',
       'housing_set', 'price', 'url', 'property_status', 'street', 'city',
       'state', 'zip', 'full_address', 'latitude', 'longitude', 'hoa_fee',
       'property_type', 'beds', 'baths', 'stories', 'garage', 'lot_size',
       'building_size', 'pool', 'year_built', 'listing_status',
       'latest_tax_year', 'latest_taxes', 'last_update', 'last_modified',
       'rent', 'rent_low', 'rent_high', 'rental_comps'],
      dtype='object')

In [38]:
df_trimmed = df[["property_id", "housing_set", "price", "full_address", "latitude", "longitude", "hoa_fee", "property_type", "beds", "baths", "stories", "garage", "lot_size", "building_size", "pool", "year_built", "rent"]]
df_trimmed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1070 entries, 0 to 1069
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   property_id    1070 non-null   object
 1   housing_set    1070 non-null   object
 2   price          1070 non-null   int64
 3   full_address   1070 non-null   object
 4   latitude       1070 non-null   float64
 5   longitude      1070 non-null   float64
 6   hoa_fee        1069 non-null   float64
 7   property_type  1070 non-null   object
 8   beds           1070 non-null   int64
 9   baths          1070 non-null   object
 10  stories        1070 non-null   int64
 11  garage         1070 non-null   int64
 12  lot_size       1070 non-null   int64
 13  building_size  1070 non-null   int64
 14  pool           1070 non-null   object
 15  year_built     1070 non-null   int64
 16  rent           1067 non-null   float64
dtypes: float64(4), int64(7), object(6)
memory usage: 142.2+ KB

In [94]:
schema = StructType([StructField("property_id", StringType(), True), 
                     StructField("housing_set", StringType(), True),
                     StructField("price", IntegerType(), True),
                     StructField("full_address", StringType(), True),
                     StructField("latitude", DoubleType(), True),
                     StructField("longitude", DoubleType(), True),
                     StructField("hoa_fee", DoubleType(), True),
                     StructField("property_type", StringType(), True),
                     StructField("beds", FloatType(), True),
                     StructField("baths", FloatType(), True),
                     StructField("stories", IntegerType(), True),
                     StructField("garage", StringType(), True),
                     StructField("lot_size", IntegerType(), True),
                     StructField("building_size", IntegerType(), True),
                     StructField("pool", StringType(), True),
                     StructField("year_build", IntegerType(), True),
                     StructField("rent", DoubleType(), True)])

In [96]:

df_spark = spark.createDataFrame(df_trimmed)

In [97]:
df_spark.show(2)

+-----------+-----------+------+--------------------+---------+-----------+-------+-------------+----+-----+-------+------+--------+-------------+-----+----------+------+
|property_id|housing_set| price|        full_address| latitude|  longitude|hoa_fee|property_type|beds|baths|stories|garage|lot_size|building_size| pool|year_built|  rent|
+-----------+-----------+------+--------------------+---------+-----------+-------+-------------+----+-----+-------+------+--------+-------------+-----+----------+------+
| 1929496559|    Seattle|730000|1415 6th Ave N Ap...|47.631834|-122.345354|  987.0|        condo|   2|    2|      1|     2|   14157|         1237|false|      2002|2940.0|
| 9079367159|    Seattle|899950|2116 3rd Ave N, S...| 47.63797|-122.351483|    0.0|single_family|   3|  2.5|      2|     0|     945|         1355|false|      2020|4140.0|
+-----------+-----------+------+--------------------+---------+-----------+-------+-------------+----+-----+-------+------+--------+-------------+-----+----------+------+
only showing top 2 rows

In [98]:
df_spark = df_spark.na.fill(0)

In [99]:
df_spark.select("full_address", "price", "property_type").groupBy("property_type").avg("price").orderBy("avg(price)", ascending=False).alias("Avg Price").show()

+-------------+-----------------+
|property_type|       avg(price)|
+-------------+-----------------+
| multi_family|838769.4285714285|
|single_family|         784973.2|
|    townhouse|755336.9202453988|
|         land|         716250.0|
|        condo|546840.0656660412|
|    townhomes|         524950.0|
+-------------+-----------------+

In [89]:
df_spark.describe()

DataFrame[summary: string, property_id: string, housing_set: string, price: string, full_address: string, latitude: string, longitude: string, hoa_fee: string, property_type: string, beds: string, baths: string, stories: string, garage: string, lot_size: string, building_size: string, pool: string, year_built: string, rent: string]